/data
/scripts
/results
/logs
/baseline/llm_setting.json
domain.zip
main_backup.py
memo.txt
test.md
test.py
baseline
baseline/KnowNo_Demo.ipynb
baseline/KnowNo_MobileManipulation.ipynb
baseline/KnowNo_TabletopSim.ipynb
.env